<div class="container-fluid">
  <div class="reset-left">
    <img class="register-img" src="/assets/images/reset-password.avif" alt="" />
  </div>
  <div class="reset-content">
    <h2>Reset your password</h2>
    <form
      #f="ngForm"
      name="form"
      (ngSubmit)="f.form.valid && submit()"
    >
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          name="password"
          #password="ngModel"
          [(ngModel)]="formdata.password"
          [ngClass]="{
            'is-invalid': f.submitted && password.invalid,
            'is-valid': f.submitted && password.valid
          }"
          required
        />
        <div class="invalid-feedback">
            <div *ngIf="password.hasError('required')">Password is required</div>
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" />
      </div>

      <button type="submit" class="btn btn-sm btn-block">
        Change password
      </button>
    </form>
  </div>
</div>
