.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  .reset-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      width: 80%;
    }
  }

  .reset-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    span {
      font-size: 24px;
      font-weight: 600;
      margin: 10px;
    }
    p {
      text-align: center;
      color: rgb(149, 153, 157);
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      justify-content: center;
      width: 45%;
      margin: 15px auto;
      .form-group {
        width: 100%;
      }
      button {
        background-color: #ea454b;
        color: white;
      }
    }
  }
}
