<div class="container-fluid">
  <div class="image-content">
    <img src="/assets/images/forgot-password.webp" />
  </div>
  <div class="forgot-password-content">
    <span>Forgot Password?</span>

    <p>Enter your email we will sent you an OTP to reset your password</p>

    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && submit()">
      <div class="form-group">
        <input type="text" 
        placeholder="Enter your Mail"
        class="form-control" 
        name="email"
        [(ngModel)]="formdata.email"
        #email="ngModel"
        [ngClass]="{
          'is-invalid': f.submitted && email.invalid,
          'is-valid': f.submitted && email.valid
        }"
        email
        required
        />
        <div class="invalid-feedback">
            <div *ngIf="email.hasError('required')">Email is required</div>
            <div *ngIf="email.hasError('email')">Invalid Email</div>
          </div>
      </div>
      <button type="submit" class="btn">Send mail</button>
    </form>
  </div>
</div>
