<div class="container-fluid d-flex flex-column align-items-center justify-content-evenly gap-3 "
  style="width: fit-content;padding: 40px;">
  <img src="\assets\images\POC_SMALLLOGO.png" class="img-fluid" alt="..." height="100px" width="150px">
  <form class="row"  [formGroup]="profileForm">
    <div class="leftpane col-6">
      <div class="mb-3">
        <label for="Dateofbirth" class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" id="Dateofbirth" aria-describedby="Commonmsg" formControlName="Dateofbirth">
      </div>
      <div class="mb-3">
        <label for="Blood-group" class="form-label">Blood Group</label>
        <select class="form-select" aria-label="Blood-group" id="Blood-group" formControlName="Bloodgroup">
          <option *ngFor="let blood of bloodgroups"value="{{blood}}">{{blood}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <select class="form-select" aria-label="gender" id="gender" formControlName="gender">
          <option *ngFor="let gender of genders" value="{{gender}}">{{gender}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="PhoneNumber" class="form-label">PhoneNumber</label>
        <input type="tel" class="form-control" id="PhoneNumber" formControlName="PhoneNumber">
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <textarea class="form-control" id="address" rows="4" formControlName="address"></textarea>
      </div>
    </div>
    <div class="rightpane col-6">
      <div class="mb-3">
        <label for="State" class="form-label">State</label>
        <select class="form-select" aria-label="State" id="State" formControlName="State">
          <option *ngFor="let states of statenames" value="{{states}}">{{states}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="District" class="form-label">District</label>
        <input type="text" class="form-control" id="District" formControlName="District">
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" formControlName="city">
      </div>
      <div class="mb-3">
        <label for="pincode" class="form-label">Pincode</label>
        <input type="number" class="form-control" id="pincode" formControlName="pincode">
      </div>
      <div class="mb-3 row ">
        <div class="height-field col-6">
          <label for="height" class="form-label">Height</label>
          <input type="number" class="form-control" id="height" formControlName="height">
        </div>
        <div class="weight-field col-6">
          <label for="weight" class="form-label">Weight</label>
          <input type="number" class="form-control" id="weight" formControlName="weight">
        </div>
      </div>

      <div class="mt-3 d-inline-flex gap-3">
        <button type="button" class="btn btn-warning col-12" (click)=" closeDailog()">Close</button>
        <button type="button" class="btn btn-danger col-12" (click)="Submitform()">Submit</button>
      </div>

    </div>
  </form>
  <div id="Commonmsg" class="form-text">We'll never share your data with anyone else.</div>

</div>
