<nav class="container-fluid">
  <a class="logoli"><img src="\assets\images\POC_SMALLLOGO.png" alt="" class="logo"></a>
  <ul>
    <li routerLinkActive="active"><i class="bi bi-house"></i>&nbsp;HOME</li>
    <li class="dropdown">
      PRODUCTS&nbsp;<i class="bi bi-chevron-down"></i>
      <ul class="dropdown-content">
        <li><i class="bi bi-file-earmark-break"></i>&nbsp;Prescription Reader</li>
        <li><i class="bi bi-files"></i>&nbsp;Blood report Analyser</li>
        <li><i class="bi bi-pc-display"></i>&nbsp;Xray Analyser</li>
      </ul>
    </li>
    <li><i class="bi bi-droplet-fill"></i>&nbsp;DONATE</li>
    <li><i class="bi bi-buildings"></i>&nbsp;ABOUT US</li>
    <li><i class="bi bi-person-circle"></i>&nbsp;LOGIN</li>
  </ul>
</nav>
<router-outlet></router-outlet>
