<body>
  <div class="container-fluid">
<div class="row d-flex flex-row justify-content-evenly">
      <div class="leftpane col-lg-5 col-md-5 col">
        <div class="heading">
          <div class="headingContent col-lg-12 col-md-12 col">
            <h2 class="col-lg-8 col-md-8 col">Perfect place for your health clarification & Donate blood <i class="bi bi-heart-pulse"></i></h2>
          <p>Here, you'll find a wealth of information and resources to address your health-related queries and concerns.
           </p>
          </div>
          <div class="buttons">
            <button class="btn btn-danger">Scan now <i class="bi bi-upc-scan"></i></button>
            <button class="btn btn-success"><i class="bi bi-play-circle-fill"></i></button>
          </div>
          <div class="quote">
            <div class="card col-lg-10 col-md-10 col">
              <img src="\assets\homepage\straight-quotes.png" alt="" height="20px" width="20px" class="img-fluid">
              <p class="col-lg-10 col-md-10 col">Your one-hour commitment to blood donation can save up to three lives.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="rightpane col-lg-6 col-md-6 col">
        <div class="cards">
          <div class="card left-to-right">
           <div class="cardheading">
            <h5>Prescription Reader</h5>
            <button><i class="bi bi-file-earmark-break"></i></button>
           </div>
            <div class="cardBody">
              <ul>
                <li>Efficient Reading
                  <p>It quickly extracts essential information such as medication names, dosages, and patient details.</p>
                </li>

              </ul>
            </div>
          </div>
          <div class="card right-to-left">
            <div class="cardheading">
             <h5>Live Update</h5>
             <button><i class="bi bi-list"></i></button>
            </div>
             <div class="cardBody">
              <div class="list">
                <div class="labels">
                <label class="value">55%</label>
                <label>growth</label>
              </div>
              <div class="graph">
                <img src="\assets\homepage\Vector1.png" alt="" height="30px" width="75px">
              </div>
              </div>
              <div class="list">
                <div class="labels">
                <label class="value">1.65M</label>
                <label>Donars</label>
              </div>
              <div class="graph">
                <img src="\assets\homepage\Vector2.png" alt="" height="30px" width="75px">
              </div>
              </div>
             </div>


           </div>

        </div>
      </div>
    </div>
  </div>
</body>
