
<body>
    <div class="container-fluid">
        <div class="register-left">
            <img class="register-img" src="/assets/images/register-img.jpg" alt="" />
          </div>
      <div class="register-right">
        <div class="register-content">
          <h2>Get Started</h2>
          <p>Create an Account</p>
          <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Full Name" />
              <input type="text" class="form-control" placeholder="Email" />
              <input
                type="password"
                class="form-control"
                placeholder="Password"
              />
              <input type="text" class="form-control" placeholder="Confirm Password" />
            </div>
            <button type="submit" class="btn btn-sm btn-block">Signup</button>
          </form>
          <div class="line"></div>
          <div class="social-media-icon">
            <button>
              <img src="/assets/images/google.png" alt="google" />
              <span>Google</span>
            </button>
            <button>
              <img src="/assets/images/facebook.png" alt="fb" /><span
                >Facebook</span
              >
            </button>
          </div>
        </div>
        <div class="head">
          <h6> Have an account? <a href="">Signin!</a></h6>
        </div>
      </div>
     
    </div>
  </body>
  