<body>
  <div class="container-fluid">
    <div class="login-left">
      <div class="login-content">
        <h2>Welcome Back</h2>
        <p>Login to your Account</p>
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && submit()">
          <div class="form-group">
            <div>
              <input
                type="text"
                class="form-control"
                placeholder="Email"
                name="email"
                [(ngModel)]="formdata.email"
                #email="ngModel"
                [ngClass]="{
                  'is-invalid': f.submitted && email.invalid,
                  'is-valid': f.submitted && email.valid
                }"
                email
                required
              />
              <div class="invalid-feedback">
                <div *ngIf="email.hasError('required')">Email is required</div>
                <div *ngIf="email.hasError('email')">Invalid Email</div>
              </div>
            </div>
            <div>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="password"
                #password="ngModel"
                [(ngModel)]="formdata.password"
                [ngClass]="{
                  'is-invalid': f.submitted && password.invalid,
                  'is-valid': f.submitted && password.valid
                }"
                required
                minlength="5"
              />
              <div class="invalid-feedback">
                <div *ngIf="password.hasError('required')">
                  Password is required
                </div>
                <div *ngIf="password.hasError('minlength')">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
          </div>
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              role="switch"
            /><span>Remember me</span>
            <a routerLink="/Forgot-password">Forgot Password?</a>
          </div>
          <button type="submit" class="btn btn-sm btn-block">Login</button>
        </form>
        <div class="line"></div>
        <div class="social-media-icon">
          <button>
            <img src="/assets/images/google.png" alt="google" />
            <span>Google</span>
          </button>
          <button>
            <img src="/assets/images/facebook.png" alt="fb" /><span
              >Facebook</span
            >
          </button>
        </div>
      </div>
      <div class="head">
        <h6>Don't have an account? <a routerLink="/Register">Signup!</a></h6>
      </div>
    </div>
    <div class="login-right">
      <img class="login-img" src="\assets\images\POC_LOGINCLIPART.jpg" alt="" />
    </div>
  </div>
</body>
